.GridHeaderComponent {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-itemitemcarousels: center;
  -moz-align-itemitemcarousels: center;
  -ms-align-itemitemcarousels: center;
  align-itemitemcarousels: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  min-height: 50px;
}
.GridHeaderComponent-left {
  white-space: nowrap;
}
.GridHeaderComponent-group,
.GridHeaderComponent-icon {
  display: inline-block;
  vertical-align: middle;
}
.GridHeaderComponent-icon {
  display: block;
  margin-right: 20px;
  background: no-repeat 50%;
  background-size: 100% 100%;
  width: 42px;
  height: 46px;
  line-height: 42px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.GridHeaderComponent-title {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 23px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.slider-button {
  cursor: pointer;
}

.slick-slide .test {
  color: white;
  line-height: 100px;
  margin: 0;
  padding: 2%;
}

/* @media only screen and (max-width: 767px) {
  .slider-button {
    visibility: hidden;
  }
} */

/* Testing */
:root {
  --gutter: 10px;
}

.app2 {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app2 > * {
  grid-column: 2 / -2;
}

.app2 > .full {
  grid-column: 1 / -1;
}

/* .app2 {
  width: 100%;
  height: 667px;
  background: #dbd0bc;
  overflow-y: scroll;
} */

.hs1 {
  margin-left: 0px;
  width: 100%;
  display: grid;
  /* grid-gap: 6.5px; */
  /* grid-template-columns: 0px; */
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.hs2 {
  margin-left: 0px;
  width: 100%;
  display: grid;
  /* grid-gap: 6.5px; */
  /* grid-template-columns: 0px; */
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}
@media only screen and (min-width: 768px) {
  .hs1 {
    grid-auto-columns: 20%;
  }
  .hs2 {
    grid-auto-columns: 16.65%;
  }
}
@media only screen and (max-width: 768px) {
  .hs1 {
    grid-auto-columns: 43.5%;
  }
  .hs2 {
    grid-auto-columns: 28.5%;
  }
  .logo-providers {
    width: 40%;
  }
}
/* mobile::landscape */
@media (min-width: 481px) and (max-width: 767px) {
  .hs1 {
    grid-auto-columns: 20%;
  }
  .hs2 {
    grid-auto-columns: 16.68%;
  }
}

img.test {
  height: 80% !important;
  padding: 2%;
  border-radius: 8px;
}

/* .hs:before,
.hs:after {
  content: '';
  width: 10px;
} */

.hs > li,
.itemCarousel {
  scroll-snap-align: center;
  /* padding: calc(var(--gutter) / 2 * 0.7); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  /* background: #fff; */
  /* border-radius: 8px; */
}

.no-scrollbar {
  scrollbar-width: none;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
