/* html{
  overflow-x: hidden;
  height: 100vh;
}  */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.main {
  min-height: 100vh;
}

#root{
  background-image: -webkit-gradient(linear,left top,left bottom,from(#440092),to(#8400ee));
  background-image: -webkit-linear-gradient(top,#440092,#8400ee);
  background-image: linear-gradient(180deg,#440092,#8400ee);
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #fff !important;
}

.ui.menu {
  background: transparent;
  border: 0px;
  border-radius: 0 !important;
  height: 50px;
}

.categoryMenu {
  margin: auto;
  flex: inherit !important;
  justify-content: center;
  cursor: pointer;
  /* color: #000; */
}

/* .categoryMenuSelected {
  transform: scale(1.2);
  cursor: pointer;
  -webkit-transform: scale(1.2);
}

.categoryMenu :hover {
  transform: scale(1.2);
  cursor: pointer;
  -webkit-transform: scale(1.2);
} */

.ui.relaxed.grid {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.results {
  width: 100% !important;
}

.search .input {
  text-align: center;
  max-width: 400px;
  width: 100% !important;
}

.ui .card {
  margin: auto;
}

.custom-icon img.ui.image {
  display: inline;
}

.ui .header {
  margin: 2px !important;
}

.text-muted {
  color: #6c757d !important;
}

.customFooter {
  background: #1c1c1c;
}

@font-face {
  font-family: 'lato-blackitalic';
  src: url('./font/lato-blackitalic-webfont.woff2') format('woff2'),
    url('./font/lato-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato-bolditalic';
  src: url('./font/lato-bolditalic-webfont.woff2') format('woff2'),
    url('./font/lato-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato-bold';
  src: url('./font/lato-bold-webfont.woff2') format('woff2'), url('./font/lato-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato-light';
  src: url('./font/lato-light-webfont.woff2') format('woff2'), url('./font/lato-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.innerJackpot {
  width: 100% !important;
  box-shadow: inherit !important;
  margin: -0px 0px 0px -0px !important;
  background-color: #000000 !important;
}

.ui.menu {
  margin: 0;
}

body {
  font-size: 15px !important;
  color: #fff !important;
}

h1 {
  font-family: 'lato-blackitalic' !important;
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #ccc !important;
  letter-spacing: 5px !important;
  font-size: 3rem !important;
  color: #fff !important;
}

a {
  text-decoration: none !important;
}

small {
  font-size: 15px !important;
}

.slick-track {
  margin-right: auto;
  margin-left: auto;
}

.text-yellow {
  font-family: 'lato-bold' !important;
  color: #ffd800 !important;
  font-size: 2rem !important;
}

.text-white {
  font-family: 'lato' !important;
  color: #fff !important;
  font-style: italic;
  font-size: 10px !important;
}

.textlight-white {
  font-family: 'lato-bolditalic' !important;
  color: #fff !important;
  font-size: 16px !important;
}

.textlight-white-mobile {
  font-family: 'lato-bolditalic' !important;
  color: #fff !important;
  font-size: 14px !important;
}

.bg-opacity {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.bg-opacity-footer {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  letter-spacing: 5px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.bg-provider-footer {
  cursor: pointer;
  padding: 0px 3px !important;
  margin: 3px;
  /* background-color: #fff; */
  /* border-radius: 0.28571429rem; */
  transition: 0.4s;
}
.bg-provider-footer:hover {
  opacity: 0.5;
}

.btn-minor {
  margin-right: 1rem;
  margin-left: 1rem;
  border: 20px solid !important;
  -webkit-border-image: url(./images/border-radius.png) 20% round !important;
  /* Safari 3.1-5 */
  -o-border-image: url(./images/border-radius.png) 20% round !important;
  /* Opera 11-12.1 */
  border-image: url(./images/border-radius.png) 40% round !important;
}

.gameLabel {
  font-size: 10pt;
  text-align: center;
  color: #fff !important;
  background: transparent !important;
}

.imgList {
  background-color: transparent !important;
  box-shadow: none !important;
}

.imgList:hover {
  cursor: pointer;
}

.ui.image {
  margin-top: 4px;
  margin-left: 5px;
}

.GridHeaderComponent {
  background-color:#8724a0;
  padding: 6px;
  border-radius: 8px;
}

.gridCategoryMenu {
  flex: 1;
  flex-direction: row;
  margin: auto !important;
}

.custom-form {
  margin: auto !important;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
  padding: 16px !important;
  max-width: 50em !important;
  width: 100% !important;
}

.custom-content {
  margin: auto !important;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
  padding: 16px !important;
  max-width: 50em !important;
  width: 100% !important;
}

.form-header {
  margin: 10px !important;
}

.header.item {
  max-height: 100px;
}

.bannerStyle {
  width: 100%;
  /* min-height: auto !important; */
}

.gameLabel {
  font-size: 8pt;
}

.alert {
  margin-top: 50px !important;
  width: 100% !important;
  max-width: 700px !important;
  padding: 40px !important;
  margin-bottom: 20px !important;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert-heading {
  color: inherit;
}

.blink {
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
  color: #000000;
}

@-webkit-keyframes blink {
  50% {
    visibility: hidden;
  }
}

@keyframes blink {
  50% {
    visibility: hidden;
  }
}

.formError {
  margin-top: -15px;
  padding-bottom: 5px;
  color: red;
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  display: block;
}

.containerExpand {
  /* min-height: 70vh !important; */
  /* min-height: -webkit-calc(50vh - 72px) !important;
  min-height: -moz-calc(50vh - 72px) !important;
  min-height: calc(50vh - 72px) !important;
  padding-bottom: 20px; */
  margin-left: 5% !important;
  margin-right: 15% !important;
  margin-top: 5%;
  margin-bottom: 20%;
  /* min-height: 100% !important; */
  min-height: -webkit-calc(50vh - 72px) !important;
  min-height: -moz-calc(50vh - 72px) !important;
  min-height: calc(50vh - 72px) !important;
}

.bottomNavigation {
  display: block;
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #000;
}

.stickyNavbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}

#root > div > div.bottomNavigation > div > div > a {
  font-size: 11px !important;
}

#profile-component .menu .item {
  margin: auto;
  flex: auto;
  justify-content: center;
}

/* ################ css custom ################ */

.loadingCentered {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  transform: -webkit-translate(-50%, -50%) !important;
  transform: -moz-translate(-50%, -50%) !important;
  transform: -ms-translate(-50%, -50%) !important;
}

.slick-disabled {
  visibility: hidden;
}

.ui.label.catShiny {
  background: linear-gradient(to left, #2b2b2b 20%, #2b2b2b 40%, rgba(247, 147, 35, 0.64) 60%, #2b2b2b 80%);
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  text-fill-color: transparent;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: silver;
  animation: shine 1s cubic-bezier(0.35, 0.32, 1, 1) infinite;
}

@keyframes shine {
  100% {
    background-position: 200%;
  }
}

.catLabel {
  font-size: 10pt;
  text-align: center;
  color: #fff !important;
  background: transparent !important;
}

.right a {
  font-size: 13px !important;
}

.slick-slider {
  z-index: 0;
}

small {
  font-size: 12px !important;
}

.ui.horizontal.celled.list .list > .item,
.ui.horizontal.celled.list > .item {
  border-top: none;
  border-left: 1px solid #737373;
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 0.6;
}

#root > div > div.ui.container > div > div.slick-slider.slick-initialized {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}

.bb {
  background: #39393b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #39393b, #afafaf, #39393b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #39393b, #afafaf, #39393b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-games {
  padding: 1.5rem 1.5rem 0.7rem 1.5rem !important;
}

.mb-15px {
  margin-bottom: 20px;
}

.link-center {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

a {
  color: #fff;
}

a:hover {
  color: #b7babd;
}

.stickyNavbar {
  background-image: -webkit-gradient(linear,left bottom,left top,from(#3b0747),color-stop(#430a50),color-stop(#4b0d5a),color-stop(#531063),to(#5b136d));
  background-image: -webkit-linear-gradient(bottom,#3b0747,#430a50,#4b0d5a,#531063,#5b136d);
  background-image: linear-gradient(0deg,#3b0747,#430a50,#4b0d5a,#531063,#5b136d);
}

.sec-test {
  height: 90px;
  padding: 0px 40px 0px 40px;
}

.sec-test ::after {
  content: '';
  display: table;
  clear: both;
}

.logo-test {
  padding-left: 50px;
}

.menu-test {
  padding-right: 50px;
}

.left-test {
  float: left;
  width: 30%;
  height: 100%;
  /* padding: 10px; */
}

.right-test {
  float: left;
  width: 70%;
  height: 100%;
  padding-top: 24px;
  padding: 10px;
  padding-top: 3px;
}

#root > div > div.stickyNavbar > div > div > section > div.right-test > div > div > div:nth-child(1) > div > div {
  padding-top: 8px;
  padding-bottom: 7px;
  border-bottom: 1px solid #444444;
}

#root > div > div.stickyNavbar > div > div > section > div.right-test > div > div > div:nth-child(2) > div > div {
  padding-top: 11px;
}

#root > div > div.stickyNavbar > div > div > section > div.right-test > div > div > div > div > div > a {
  padding: 0px 16px 0px 16px;
}

.bg-category {
  background-color: #00000052;
  border-radius: 10px;
  margin-top: 45px;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(125, 125, 125, 1);
  -moz-box-shadow: 0px 0px 7px 2px rgba(125, 125, 125, 1);
  box-shadow: 0px 0px 7px 2px rgba(125, 125, 125, 1);
}

.categoryMenu {
  border-right: 2px solid #fff;
  margin: 20px 0px 20px 0px !important;
}

.categoryMenu img:hover {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(125, 125, 125, 1);
  -moz-box-shadow: 0px 0px 7px 2px rgba(125, 125, 125, 1);
  box-shadow: 0px 0px 7px 2px rgba(125, 125, 125, 1);
}

.table {
  display: table;
  width: 100%;
}

.tr {
  display: table-row;
  width: 100%;
}

.th {
  float: left;
  display: table-cell;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.td {
  float: left;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

#root > div > div.stickyNavbar > div > div > section > div.right-test > div > div > a {
  font-size: 14px !important;
}

#root > div > div.stickyNavbar > div > div > section > div.right-test > div > div > div > div > div > a {
  font-size: 14px !important;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}
.slick-dots {
  bottom: 10px;
}
.catCSS {
  background-repeat: round;
  width: 100% !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-bottom: 10px !important;
}

/* End Custom CSS */

@media only screen and (max-width: 768px) {
  .ui.container.posterGames {
    width: auto !important;
    margin-left: 1em !important;
    margin-right: 0 !important;
  }
  .GridHeaderComponent {
    margin-right: 1rem;
  }
}

/* Portrait mode */

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .carousel__arrow--left {
    left: 20px !important;
  }
  .carousel__arrow--right {
    right: 20px !important;
  }
  .gridGames {
    height: 160px !important;
  }
  /* .catImage {
    width: 4rem !important;
  } */
}

/* Landscape Mode */

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .carousel__arrow--left {
    left: 20px !important;
  }
  .carousel__arrow--right {
    right: 20px !important;
  }
  .gridGames {
    height: 160px !important;
  }
  .imgList img {
    margin: 0 auto;
    width: 8rem !important;
  }
  /* .catImage {
    width: 5rem !important;
  } */
}

@media only screen and (max-width: 426px) {
  .header img {
    width: 110px !important;
  }
  /* #root > div > div:nth-child(2) > div > div:nth-child(2) > div > div{
      margin-left: 30px;
      margin-right: 30px;
    } */
  .iconn {
    padding: 5px 5px;
    margin: 4px;
    box-shadow: 0 4px #8f414d;
  }
  #root > div > div:nth-child(2) > div:nth-child(2) > div > div > div > div > ul > li > div > img {
    width: 70%;
  }
  .carousel__arrow--left {
    left: 5px !important;
  }
  .carousel__arrow--right {
    right: 5px !important;
  }
}

/*iPad Pro 9.7"*/

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/*iPad Pro 10.5"*/

/* Portrait */

/* Declare the same value for min- and max-width to avoid colliding with desktops */

/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/

@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */

/* Declare the same value for min- and max-width to avoid colliding with desktops */

/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/

@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/*ipad PRo 12.9"*/

/* Portrait */

/* Declare the same value for min- and max-width to avoid colliding with desktops */

/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */

/* Declare the same value for min- and max-width to avoid colliding with desktops */

/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .gridGames {
    height: 250px !important;
  }
}
