.wrap {
  height: 100vh;
  position: relative;
  top: -50px;
}

.centerpage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading {
  overflow: hidden;
  position: relative;
  height: 35%;
}

.pills {
  position: absolute;
  width: 100%;
  height: 5em;
  left: 0;
  top: 15%;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='9' cy='5' r='1' /></svg>")
    repeat-x center;
  background-size: contain;
  filter: invert(100%);
}

.paco {
  position: absolute;
  width: 100%;
  height: 10em;
  left: 0;
  top: 0;
  animation: pacoMoving 5s linear infinite;

  z-index: 1;
}

.text-loader {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Prompt', sans-serif !important;
  text-align: center;
  font-size: 16px;
  top: 70%;
}

.paco::before {
  content: '';
  position: absolute;
  width: 10000px;
  height: 10em;
  right: 5em;
  background: #333333;

  z-index: 0;
}

.paco .head {
  position: absolute;
  width: 10em;
  height: 10em;
  transform-origin: center center;
  right: 0;

  transform: rotate(95deg);
  animation: pacoEatingBody 0.3s linear alternate infinite;
}

.paco .head::before {
  content: '';
  position: absolute;
  width: 5em;
  height: 10em;
  left: 0;
  border-radius: 5em 0 0 5em;
  transform-origin: right center;

  transform: rotate(350deg);
  animation: pacoEatingMouth 0.3s linear alternate infinite;
}

.paco .head::after {
  content: '';
  position: absolute;
  width: 5em;
  height: 10em;
  left: 5em;
  border-radius: 0 5em 5em 0;
}

.paco .head::before,
.paco .head::after {
  background-color: #ee0;
}

@keyframes pacoEatingBody {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(95deg);
  }
}

@keyframes pacoEatingMouth {
  from {
    transform: rotate(300deg);
  }
  to {
    transform: rotate(350deg);
  }
}

@keyframes pacoMoving {
  from {
    left: -100%;
  }
  to {
    left: 200px;
  }
}

@media only screen and (max-width: 426px) {
  .wrap {
    top: -66.2px;
  }

  .pills {
    height: 3.5em;
    top: 10%;
  }

  .paco {
    animation: pacoMoving 3s linear infinite;
  }

  .paco .head::before {
    width: 3.2em;
    height: 6em;
    left: 0px;
  }

  .paco .head::after {
    width: 3.2em;
    height: 6em;
    left: 45px;
  }

  @keyframes pacoEatingBody {
    from {
      transform: rotate(100deg);
    }
    to {
      transform: rotate(110deg);
    }
  }

  @keyframes pacoEatingMouth {
    from {
      transform: rotate(340deg);
    }
    to {
      transform: rotate(300deg);
    }
  }
}
